h1 {
	text-align: center;
	margin-block-end:5vh;
}
img{
	margin-inline:5vw;
}

footer{
	height:5vh;
}
.ArticleContainer {
	display: flex;
	flex-flow: row;
}

.Article-InformationsContainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	margin-inline-start: 5vw;
	height: calc(80vh - var(--navbar-height));
}

.Article_image {
	max-width: 32vw;
	max-height: 32vh;
}

.EncherirButton {
	width: 10rem;
	height:1.5rem;
}
@media ( max-width : 800px) {
	.ArticleContainer {
		display: flex;
		flex-flow: column;
		height: calc(100vh - var(--navbar-height));
	}
	.Article_image {
		max-width: 40vw;
		max-height: 30vh;
		margin: auto;
		margin-block: 5vh;
	}
}