/*
 _____                           _ 
|  __ \                         | |
| |  \/ ___ _ __   ___ _ __ __ _| |
| | __ / _ \ '_ \ / _ \ '__/ _` | |
| |_\ \  __/ | | |  __/ | | (_| | |
 \____/\___|_| |_|\___|_|  \__,_|_|
                                   
-	Feuille de style g�n�rale.
-	Contient : 
				- Formatage g�n�ral : suppression des marges et padding(s�lecteur : *) 
				- Navbar
				- Animation d'affichage des pages (fade in)             
*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    --navbar-height: 10vh;
    font-size: 16px;
    overflow-x: hidden;
}
body{
    font-size: 1rem;
    animation: cubic-bezier(0.645, 0.045, 0.355, 1) 0.6s fadein;
}
nav{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width:calc(100vw - (var(--main-inline-margin))*2);
}
li{
    list-style: none;
}
a {
    color: var(--hyperlink-color);
}
input{
	text-align: center;
	 box-shadow: 5px 5px 5px 5px var(--background-color-darker);
	 border-color: var(--background-color-darker);
	 border-radius:5px;
	 cursor: pointer;
}
select {
	border-radius: 10px;
    border-style: none;
	box-shadow: 5px 5px 5px 5px var(--background-color-darker);
	cursor: pointer;
}
button {
    border-radius: 10px;
    border-style: none;
    background-color:  var(--button-color);
    color: var(--font-color);
    box-shadow: 5px 5px 5px 5px var(--background-color-darker);
}
button:hover{
    cursor: pointer;
}
dropdown-menu {
	display: block;
	border-radius: 10px;
    border-style: none;
    
}
dropdown-item {
	display: block;
	border-radius: 10px;
    border-style: none;
}
.Alert-error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 0, 12);
    background-color: rgb(255, 186, 186);
    height: 2em;
}
.dropdown {
  position: relative;
  display: flex;
  height:100%;
  width: 100%;
}
.dropdown-content {
  display: flex;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  height:100%;
}
.NavbarContainer{
    display:flex;
    justify-content: center;
    height: var(--navbar-height);
}
.Menu{
    display:flex;
    justify-content: space-around;
    min-width:15.5rem;
}
.Menu_item{
    display:flex;
    padding:1rem;
    text-align:center;
}
a:visited {
    color: var(--visited-hyperlink-color);
}
@media (max-width: 800px) {
    html {
        --searchBloc-width: 80vw;
        font-size: 14px;
    }
    nav {
        align-items: center;
        justify-content:center;
        margin-block-start:2rem;
    }
}
@media (max-width: 400px) {
    html{
        font-size: 12px;
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* POPUP DE SUPPRESSION */
.open-button {
  border-style: none;
  width:32%;
}

.form-popup {
  display: none;
  bottom: 0;
  right: 15px;
  border: 1px solid #f1f1f1;
  z-index: 9;
  background-color: grey;
}

.PopupProfilButton{
	border-radius: 10px;
	border-style: none;
    height: 35%;
    margin: 1em;
    width:100%;
}

.ProfilFormPopup{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}