label{
    margin-block: 2vh;
}
input{
    min-height: 2.1rem;
}
input[type="text"], input[type="password"]{
    width:70%;
    cursor: text;
}
.Page{
    display:flex;
    flex-flow: column;
}
.Page-TitleContainer{
	width:100vw;
	display:flex;
	justify-content: center;
}
.Alert-error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 0, 12);
    background-color: rgb(255, 186, 186);
    height: 2em;
}

.InscriptionPage{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.InscriptionFormContainer{
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    height: 70%;
    width: 50%;
   
}
.InscriptionColumn {
	display:flex;
	flex-flow: column nowrap;
	justify-content : center;
	align-items:center;
	width:50%;
}
.InscriptionForm{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 67%;
	width: 100%;
}
.InscriptionFields{
    display: flex;
    flex-flow: row nowrap;
        justify-content: center;
}
.InscriptionValidation{
    display:flex;
    margin-block-start: 2vh;

}
.InscriptionOptions{
    display:flex;
    flex-flow: column nowrap;
    width: 50%;
    align-items: center;
}
.InscriptionButtonContainer{
	display:flex;
	justify-content: center;
	margin-block:5vh;
}
.InscriptionButton{
    width: 100%;
        width: 10rem;
    height:3rem;
}
.Subscribe{
    margin-block-start: 7vh;
    height:33%;
}
.InscriptionOptions option{
    margin-inline-start: 2vw;
}
@media (max-width: 670px){
    .InscriptionFormContainer{
        width: 80%;
    }
}
@media (max-width: 400px){
    .InscriptionOptions{
        font-size: 0.8rem;
    }
}