label{
    margin-block: 2vh;
}
input{
    min-height: 2.1rem;
}
.Page{
    display:flex;
    flex-flow: column;}
    
    
.Page-TitleContainer{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width:95vw;
    height:10vh;
}
    

.mdpOubliePage{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - var(--navbar-height));
}
.mdpOublieFormContainer{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 35%;
    width: 50%;
}
.mdpOublieForm{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 67%;
}
.mdpOublieFields{
    display: flex;
    flex-flow: column nowrap;
}
.mdpOublieValidation{
    display:flex;
    margin-block-start: 2vh;
    height: 2em; 
}
.mdpOublieOptions{
    display:flex;
    flex-flow: column nowrap;
    width: 50%;
    align-items: center;
}


.mdpOublieButtonContainer{
	display:flex;
    width: 8em;
}
.mdpOublieButton{
    width: 100%;
    height: 100%; 
}
.Subscribe{
    margin-block-start: 7vh;
    height:33%;
}
.mdpOublieOptions option{
    margin-inline-start: 2vw;
}
@media (max-width: 670px){
    .mdpOublieFormContainer{
        width: 80%;
    }
}
@media (max-width: 400px){
    .mdpOublieOptions{
        font-size: 0.8rem;
    }
}