label{
    margin-block: 2vh;
}
input{
    min-height: 2.1rem;
}
.Page{
    display:flex;
    flex-flow: column;
}

.Alert-error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(216, 0, 12);
    background-color: rgb(255, 186, 186);
    height: 2em;
}


.ProfilPage{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
   
}
.ProfilFormContainer{
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  	margin-block: 1em;
  	width: 50%;
}

.ProfilForm{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 67%;
    width: 65%;
    margin-block: 1.5em;
}
.ProfilFields{
    display: flex;
    flex-flow: column nowrap;
    margin-block: 2.5em;
}
.ProfilValidation{
    display:flex;
    margin-block-start: 2vh;
}
.ProfilOptions{
    display:flex;
    flex-flow: column nowrap;
    width: 50%;
    align-items: center;
}
.ProfilButtonContainer{
	display:flex;
    width: 50%;
}
.ProfilnButton{
    width: 100%;
}
.Subscribe{
    margin-block-start: 7vh;
    height:33%;
}
.ProfilOptions option{
    margin-inline-start: 2vw;
}
.SupprimerProfilButton {
	width: 35%;
	height:100%;
}
@media (max-width: 670px){
    .ProfilFormContainer{
        width: 80%;
    }
}
@media (max-width: 400px){
    .ProfilOptions{
        font-size: 0.8rem;
    }
}

