/*
 _____ _                         
|_   _| |                        
  | | | |__   ___ _ __ ___   ___ 
  | | | '_ \ / _ \ '_ ` _ \ / _ \
  | | | | | |  __/ | | | | |  __/
  \_/ |_| |_|\___|_| |_| |_|\___|
  
- Feuille de style d�terminant le th�me du site.

- Commande aux couleurs et � la police.
 
- Stocke ces donn�es sous forme de variables � utiliser 
dans les autres feuilles de style, notamment la feuille "g�n�ral".

/!\ Ce fichier doit �tre pr�sent dans toutes les pages du projet /!\          
*/
html{
	--background-color-darker: #1d242c;
    --background-color: #20262e;
    --secondary-color: rgba(55,62,75,0.3);
    --font-color: #eeeeee;
    --hyperlink-color: white;
    --visited-hyperlink-color:white;
    --button-color:#7989a7;
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Comfortaa", cursive;
}