label {
	margin-block: 2vh;
	display: flex;
}
img{
	margin-inline: 2.3vw;	
}
input {
	min-height: 2.1rem;
}

select{
    min-width:12.5vw;
    min-height: 30%;
}

.Page {
	display: flex;
	flex-flow: column;
}
.Page-TitleContainer{
	margin-block-end: 3rem;
}
.VentePage {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.VenteIntroPage {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin-block-start: 2em;
}

.VenteFormContainer {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center; height : 90%;
	width: 40%;
	height: 90%;
}

.VenteForm {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.VenteForm div {
	margin-block: 1rem;
}

.VenteFields {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.VenteField {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

.VenteField label {
	/*! margin-inline-end: 2rem; */
	width: 50%;
}

.VenteField input {
	width: 50%;
}

.UploadField {
	align-items: center;
}

.UploadImage {
	display: flex;
	align-items: center;
	width: 100%;
}

.UploadImageButton {
	min-width: 100%;
	display: flex;
	justify-content: center;
}

.UploadImageButton label {
	display: flex;
	justify-content: center;
	width:100%;
}

.RetraitFieldSet {
	display: flex;
	flex-flow: column;
	width: 100%;
}

.VenteValidation {
	display: flex;
	margin-block-start: 2vh;
}

.VenteOptions {
	display: flex;
	flex-flow: column nowrap;
	width: 50%;
	align-items: center;
}

.VenteButtonContainer {
	display: flex;
	width: 100%;
	height: 3em;
	margin: 1em;
	justify-content: center;
}

.VenteButton {
	width: 100%;
}

.VenteValider {
	width: 70%;
	height: 3em;
	justify-content: center;
}

.Subscribe {
	margin-block-start: 7vh;
	height: 33%;
}

.VenteOptions option {
	margin-inline-start: 2vw;
}

.form-control {
	display: flex;
	width: 100%;
}

.dropdownVente {
	display: flex;
	height: 100%;
	flex-flow: column nowrap;
	width: 50%;
}

.ButtonContainer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.MiseEnVenteButton {
	width: 100%;
}

.VenteIntroFormContainer {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-evenly;
	height: 10%;
	width: 100%;
}

.VenteValiderContainer {
	width: 50%;
	justify-content: flex-start;
	margin-inline-start: calc(20% + 2rem);
}

@media ( max-width : 800px) {
	.VenteFormContainer {
		width: 100%;
	}
	.VenteField {
		width: 80%;
	}
	label {
		font-size: 0.8rem;
	}
}
@media ( max-height : 600px) {
	.VenteFormContainer {
		width: 100%;
	}
	.VenteField {
		width: 80%;
	}
	label {
		font-size: 0.8rem;
	}
}
@media ( max-width : 400px) {
	.VenteOptions {
		font-size: 0.8rem;
	}
}