<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ENI-Encheres</display-name>
  
  <welcome-file-list>
    <welcome-file>IndexServlet</welcome-file>
  </welcome-file-list>
  
  <filter>
  <filter-name>AuthentificationFilter</filter-name>
  <filter-class>fr.eni.troc.view.AuthentificationFilter</filter-class>
</filter>
 
<!--
  Declare the path (of the page) will have the effect of logFilter
 /* for all paths
-->
<filter-mapping>
  <filter-name>AuthentificationFilter</filter-name>
  <url-pattern>/ArticleServlet</url-pattern>
  <url-pattern>/AdminServletSuppr</url-pattern>
  <url-pattern>/ModifierProfilServlet</url-pattern>
  <url-pattern>/MotDePasseOublieServlet</url-pattern>
  <url-pattern>/ProfilServlet</url-pattern>
  <url-pattern>/ProfilUtilisateurServlet</url-pattern>
  <url-pattern>/SupprimerProfilServlet</url-pattern>
  <url-pattern>/VenteServlet</url-pattern>
</filter-mapping>

</web-app>